<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tripflow.user.mapper.UserMapper">

    <select id="existsByEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM user_info
        WHERE email = #{email}
        )
    </select>

    <select id="existsByPhoneNumber"
            resultType="boolean">
        SELECT EXISTS (
        SELECT 1
        FROM user_info
        WHERE phone_number = #{phoneNumber}
        )
    </select>

    <select id="findByEmail"
            resultType="com.tripflow.user.domain.User">

        SELECT
        user_id,
        password_hash,
        name,
        phone_number,
        email
        FROM user_info
        WHERE email = #{email}

    </select>

    <insert id="insertUser"
            parameterType="com.tripflow.user.domain.User"
            useGeneratedKeys="true"
            keyProperty="userId"
            keyColumn="user_id">

        INSERT INTO user_info (
        password_hash,
        name,
        phone_number,
        email,
        join_date
        )
        VALUES (
        #{passwordHash},
        #{name},
        #{phoneNumber},
        #{email},
        NOW()
        )

    </insert>

</mapper>